.ShareWidget {
  margin-top: .5rem;
}

.ShareWidget .ShareIcon {
  width: 34px;
  height: 34px;
  display: block;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  float: left;
  margin-right: .5rem;;
  margin-bottom: .5rem;
}

.ShareWidget .inline-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.ShareWidget .ShowShareButtons {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.ShareWidget .HideShareButtons {
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity 0.5s linear;
}

.ShareWidget .inline-item {
  display: inline-block;
  margin-right: .5rem;
}
